In [1]:
import pandas as pd
import numpy as np
import requests
import math

In [2]:
df = pd.read_csv('dialect_dataset.csv')
df.sample(5)

                         id dialect
52675   1064225573126336384      QA
82751   1149248241059454976      QA
216126  1101723932892323840      SA
293504  1080930533998297216      EG
275484  1025836756804034560      EG

In [3]:
df.shape

(458197, 2)

In [4]:
step = 1000
no_of_requests = math.ceil(df.shape[0]/step)

In [5]:
dialect_dict = {}
url = 'https://recruitment.aimtechnologies.co/ai-tasks'

In [6]:
for i in range(no_of_requests):
    start_index = i*step
    end_index = (i*step) + step
    list_of_ids = df['id'].astype(str).values.tolist()[start_index:end_index]
    response = requests.post(url, json=list_of_ids)
    response = response.json()
    dialect_dict.update(response)

In [7]:
len(dialect_dict)

458197

In [8]:
dialect_df = pd.DataFrame(dialect_dict.items(), columns=['id', 'text'])

In [23]:
dialect_df

In [16]:
df['id'] = df['id'].astype(str)

In [18]:
df_full = pd.merge(df, dialect_df, on = 'id')
df_full.shape

(458197, 3)

In [21]:
df_full.to_csv("../02-Preprocessing/dialect_with_text.csv", index=False)